mixin video(video)

  li.video
    a(href=`${routes.video}/${video.id}`)
      .thumnail(style=`background-image: url(/${video.thumnailUrl || noThumnail});`)
      .video__info 
        .video__title #{video.title}
        .video__info__sub
          .video__creator
            .creator-photo
            | #{video.creator.displayName}
          .video__views #{video.meta.views} 회

