mixin video(video)

  li.video
    a(href=`${routes.video}/${video.id}`)
      .thumnail(style=`background-image: url(/${video.thumnailUrl || noThumnail});`)
      .video__info 
        .video__title #{video.title}
        .video__info__sub
          .video__creator
            .creator-photo
              img(src=`${video.creator.photoUrl || noProfile}`)
            | #{video.creator.displayName || noDisplayName}
          .video__views 조회수 #{video.meta.views} 회

