extends ../base
include ../mixins/video

block content
  .ct-container.inner
    h2 프로필
    .profile-img
      img(src=`${currentUser.photoUrl || noProfile}`)  
    .profile-name 
      input(type="text" value=currentUser.displayName)
    .btn-profile-container 
      a(href=`${routes.user}${routes.editProfile}`)
        i.fa-solid.fa-pen
        | 프로필 관리
      a(href=`${routes.user}${routes.myVideo}`)
        i.fa-brands.fa-youtube
        | 내 동영상
      //- a(href=`${routes.user}${routes.editProfile}`)
      //-   i.fa-solid.fa-comment
      //-   | 내 댓글
      if(currentUser.userType === 'email')
        a(href=`${routes.user}${routes.editPassword}`)
          i.fa-solid.fa-key
          | 비밀번호 변경
      a(href=routes.logout)
        i.fa-solid.fa-arrow-right-from-bracket
        | 로그아웃
  

